/* AppComponent's private CSS styles */
/*
h1 {
  font-size: 1.2em;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
*/
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #334953;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}

*{padding:0px;margin:0px}
#header {position:absolute;background:#FF7800;width:202px;height:92px;color:#fff;padding-left:20px}
#header span{font-weight:normal}
#header h1{position:absolute;font-size:23px;letter-spacing:-1px;top:30px;height:92px;color:#000}
#header h2{position:absolute;font-size:15px;font-weight:normal;color:#FCE2CA;top:51px}
#header sup{font-size:0.5em;color:#FCE2CA}
p{margin-bottom:14px;text-align:justify}

#splash {position:absolute;right:30px;background:#eaeae2 url(/assets/images/a10.jpg) no-repeat;width:458px;height:92px}

#menu{position:relative;background:#46461f;height:67px;padding:0px 20px 0px 5px;margin:98px 0px 20px 0px}

#date{position:absolute;top:0px;line-height:52px;color:#BDBDA2;right:30px;font-weight:bold;font-size:12px;letter-spacing:-1px}
