<div *ngIf="newsItem">

  <h2>News Item Details</h2>
  <div><span>id: </span>{{newsItem.id}}</div>
  <div><span>posted_timestamp: </span>{{newsItem.posted_timestamp}}</div>
  <div>
    <label>date:
      <input [(ngModel)]="newsItem.date" placeholder="YYYY-MM-DD"/>
    </label>
  </div>
  <div>
    <label>icon_url:
      <input [(ngModel)]="newsItem.icon_url" placeholder="icon url"/>
    </label>
  </div>
  <div>
    <label>text:
      <input [(ngModel)]="newsItem.text" placeholder="text"/>
    </label>
  </div>

</div>

<button (click)="goBack()">go back</button>
