  <div id="main">
    		<div id="primarycontent">

			<!-- primary content start -->

			<div class="post">
				<div class="header">
					<h2>Photo Gallery</h2>
				</div>
				

				<div class="content">
       			 	<li><a href="http://www.robhughes.net/gallery/2003CaymanBrac/RobsPictures/index.html">Cayman Brac 2003</a>
   					</li><li><a href="http://www.robhughes.net/gallery/2003OldRagHike/index.html">Old Rag Hike 2003</a>
   					</li><li><a href="http://www.robhughes.net/gallery/2004LakeTahoe/index.html">Tahoe 2004</a>
                	</li><li><a href="http://www.robhughes.net/gallery/2008_Colorado/album/index.html">Colorado 2008</a>
                	</li><li><a href="http://www.robhughes.net/gallery/2009_Colorado/2009_Colorado/album/index.html">Colorado 2009</a>

					<br><br><em>Germany 2011 Trip</em><br>
					</li><li><a href="http://www.robhughes.net/gallery/2011Germany/Drive%20To%20Garmisch/album/index.html">Drive to Garmisch</a>
					</li><li><a href="http://www.robhughes.net/gallery/2011Germany/Linderhof%20Palace/album/index.html">Linderhof Palace</a>
					</li><li><a href="http://www.robhughes.net/gallery/2011Germany/Berchtesgaden%20Tour/album/index.html">Berchtesgaden Tour</a>
					</li><li><a href="http://www.robhughes.net/gallery/2011Germany/Three%20Country%20Tour/album/index.html">Three Country Tour</a>
					</li><li><a href="http://www.robhughes.net/gallery/2011Germany/Bolzano%20Italy%20Tour/album/index.html">Bolzano Italy Tour</a>
					</li><li><a href="http://www.robhughes.net/gallery/2011Germany/Partnach%20Gorge/album/index.html">Partnach Gorge</a>
					</li><li><a href="http://www.robhughes.net/gallery/2011Germany/Drive%20to%20Schweinfurt/album/index.html">Drive to Schweinfurt</a>
                      <br><br>
					</li><li><a href="http://www.robhughes.net/gallery/2011%20Fruita%20CO%20Moab%20UT%20Mountain%20Bike%20Trip/album/index.html">Fruita and Moab 2011</a>
                      <br><br>
					</li><li><a href="http://www.goldmishpacha.com/Vacation/Mans-Trip-Colorado-2015/n-drJfTf">Hiking Colorado 2015</a>
                      <br><br>
					</li><li><a href="https://goo.gl/photos/S67s11K41TrqXW5w7">Florida Trip 2016</a>
					<br><br><em>South Carolina Trip 2019</em><br>
					</li><li><a href="https://photos.app.goo.gl/nPZEf7njnf3eG44r6">Charleston, Liberty Square, and Ft. Sumter</a>
					</li><li><a href="https://photos.app.goo.gl/hXnETxjJCdX5jE7P8">Patriot's Point</a>
                                        </li><li><a href="https://photos.app.goo.gl/DkaSLdH9fpmGBqsR9">Isle of Palms</a>
                                        </li><li><a href="https://photos.app.goo.gl/WG9dLd7HksKb1SaZA">Bull's Island Hike</a>
                                        </li><li><a href="https://photos.app.goo.gl/oxTFf3aJdFfEoMnbA">Center for the Birds Of Prey</a>
                                        </li><li><a href="https://photos.app.goo.gl/h4iPJ2VjzXQwmqkAA">Ft. Moultrie</a>

				</li></div>			
			</div>
		
			<!-- primary content end -->
	
		</div>

<p>
<button (click)="goBack()">go back</button>
